#post-header {
  border-bottom   : 1px solid var(--border-color);
  background-color: var(--component-background-color, white);
  height          : 50px;
  display         : flex;
  align-items     : center;
  width           : 100%;
  position        : relative;
}

.post-header-profile-placeholder {
  height      : 35px;
  width       : 35px;
  margin-left : 14px;
  margin-right: 14px;

}

.post-header-profile-pic {
  height       : 35px;
  width        : 35px;
  border-radius: 50%;
  margin-left  : 14px;
  margin-right : 14px;
  position     : absolute;
  z-index      : 1;
}

#post-header-profile-placeholder-avatar {
  height: 35px;
  width : 35px;
}

.post-header-profile-pic-hidden {
  display: none;
}


#post-header-MoreHorizIcon {
  margin-left : auto;
  margin-right: 16px;
}

#post-options-background {
  height          : 100vh;
  width           : 100vw;
  background-color: rgba(0, 0, 0, 0.198);
  z-index         : 3 !important;
  position        : fixed;
  bottom          : 0%;
  left            : 50%;
  transform       : translate(-50%, 0);
  display         : flex;

}