#commentPreview {
  padding: 0px 16px 0px 16px;

}

.commentPreview-comment {
  padding-bottom: 4px;
  white-space   : -moz-pre-wrap !important;
  white-space   : -pre-wrap;
  white-space   : -o-pre-wrap;
  white-space   : pre-wrap;
  word-wrap     : break-word;
  word-break    : break-all;
  white-space   : normal;
}

.commentPreview-timePosted {
  font-size: 10px;
  color    : var(--light-text, #8e8e8e);
}


.commentPreview-viewAll {
  font-size: 12px;
  color    : var(--light-text, #8e8e8e);
  cursor   : pointer;

}