#actionBar {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  padding        : 0 16px;
}

.actionBar-icon {
  height         : 40px;
  width          : 40px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  cursor         : pointer;

}

.actionBar-lastIcon {
  margin-left: auto;
}

.red {
  background-color: red;
}