#commentPostbox {
  border-top: 1px solid var(--border-color);
  width: 100%;
  height: 54px;
  margin-top: 4px;
  padding: 0px;
  position: relative;
  left: -0.1px;
  display: flex;
  align-items: center;
  justify-content: start;
}

#commentPostbox-form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 100%;
}

#commentPostbox-input {
  height: 52px;
  border: none;
  padding-left: 16px;
  width: 100%;
}

#commentPostbox-submit {
  border: none;
  height: 52px;
  background: none;
  color: var(--light-blue, #23527f);
  font-weight: 600;
  padding-right: 16px;

}

