#sidebar_profile {
  max-width      : 250px;
  height         : 56px;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;
  padding-bottom : 20px;
  padding-left   : 5px;
}

#sidebar_profile-pic {
  height: 56px;
  width : 56px;
}

.sidebar-profile-pic-img {
  height       : 56px;
  width        : 56px;
  border-radius: 50%;
}

#sidebar_profile-nameOfUser {
  color: var(--light-text, #8e8e8e);
}