#profile-header {
    width         : 100%;
    max-width     : 920px;
    padding-bottom: 25px;
    border-bottom : 1px solid var(--border-color);
    display       : flex;
    margin-top    : 90px;
    margin-bottom : 28px;

}

#profile-header-user-info {
    width       : 300px;
    margin-right: auto;
}

#profile-header-avatar-container {
    padding: 0 60px;
}

#profile-header-avatar {
    height: 140px;
    width : 140px;
}

.profile-header-user-username {
    font-size: 25px;

}


.profile-header-user-followerInfo {
    font-size      : 15px;
    display        : flex !important    ;
    justify-content: space-between !important;
}



.profile-header-row {
    margin-bottom  : 20px;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : center;
}

.profile-header-user-nameAndBio {
    font-size      : 15px;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
}

.profile-header-user-nameAndBio p {
    margin : 0;
    padding: 0;
}

#profile-header-avatar-container img {
    z-index      : 1;
    border-radius: 50%;
    height       : 140px;
    width        : 140px;
}

@media only screen and (max-width: 600px) {

    #profile-header {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }

    #profile-header-user-info {
        width : 300px;
        margin: 0;
    }


    .profile-header-user-username {
        font-size     : 25px;
        display       : flex !important;
        flex-direction: column !important;
        align-items   : center;
    }

    .profile-header-user-username span {
        margin-bottom: 15px;
    }

    .profile-header-user-un-follow {
        margin-left: 0px;
    }


    .profile-header-user-follow {
        margin-left: 0px;

    }

    .profile-header-user-nameAndBio {
        margin        : 0;
        padding       : 0;
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    .profile-header-user-nameAndBio p {
        margin : 0;
        padding: 0;
        display: none;
    }

}