:root {
  --border-color              : #dbdbdb;
  --light-text                : #8e8e8e;
  --dark-text                 : #383838;
  --dark-blue                 : #23527f;
  --light-blue                : #0095f6;
  --component-background-color: #ffffff;
  --background-color          : #fafafa;
}

html,
body {
  margin : 0px;
  padding: 0px;
  height : 100%;
  width  : 100%;
  font-family: 'Noto Sans HK', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size  : 13px;
  font-weight: 300;
  overflow   : auto;
}

#containerWholeApp {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  overflow      : auto;

}

b {
  font-weight: 500;
}

input:focus {
  outline-width: 0;
}

a {
  color          : inherit;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

button {
  outline: none;
}