#navbar {
  flex: 0 1 auto;
  z-index: 99 !important;
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 54px;
  background-color: var(--component-background-color);
}

#navItems-container {
  width: 100%;
  height: 54px;
  max-width: 975px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-iconContainer {
  width: 100%;
  height: 54px;
  max-width: 360px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#search {
  width: 215px;
  height: 28px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 3.5px;
}

.nav-icon {
  margin: 0px;
  height: 22px;
  padding-right: 22px;
  display: flex;
  align-items: center;

}

#appName {
  height: 54px;
  width: 100%;
  max-width: 340px;
  font-family: 'Qwigley';
  font-size: 50px;
  background: -webkit-linear-gradient(#485563, #29323c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
}

#navbar-profile-icon {
  height: 22px;
  width: 22px;
}
